@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
}

h1 {
    font-size: 35px;
    font-weight: bold;

}

h2 {
    font-size: 27px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

li {
    list-style-type: none;
}

.main-container {
    width: 95%;
    margin: auto;
}

/*hiệu ứng scroll*/
.scroll {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
    will-change: opacity, transform;
}

.scroll.visible {
    opacity: 1;
    transform: translateY(0);
}

/*chatbutton*/
.chat-button {
    position: fixed;
    bottom: 30px;
    left: 30px;
    background-color: #91ccf7;
    color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.chat-button img {
    width: 40%;
    height: auto;
    animation: laclu 0.5s linear infinite alternate;
}

.chat-button:hover {
    background-color: #76c1f6;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

@keyframes laclu {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(10deg);
    }
}

@keyframes laclu2 {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(2px);
    }
}

/*cuộn lên đầu trang*/
.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #91ccf7;
    color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: all 0.3s ease-in-out;
}

.scroll-to-top.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    /* Về vị trí gốc */
}

.scroll-to-top img {
    width: 40%;
    height: auto;
    animation: laclu2 0.5s linear infinite alternate;
}

.scroll-to-top:hover {
    background-color: #76c1f6;
    transform: scale(1.1);

}


@media screen and (max-width: 900px) {
    h1 {
        font-size: 28px;
        font-weight: bold;

    }

    h2 {
        font-size: 24px;
        font-weight: bold;
    }

    h3 {
        font-size: 20px;
        font-weight: bold;
    }

}