<footer>
    <div class="main-container">
        <div class="footer-container">
            <div class="footer-box">
                <div class="footer-box1">
                    <img src="/images/logo/web.png" alt="logo">
                </div>
                <div class="footer-box2">
                    <h3><a href="#" class="link">HƯỚNG DẪN SỬ DỤNG</a></h3>
                    <h3><a href="/gioithieu" class="link">VỀ CHÚNG TÔI</a></h3>
                    <h3><a href="/tranghoc" class="link">KHOÁ HỌC SỬ DỤNG CHATBOT AI</a></h3>
                    <h3><a href="#" class="link">KHOÁ HỌC TẠO BÀI TẬP SỐ</a></h3>
                    <h3><a href="#" class="link">KHOÁ HỌC TẠO SLIDE BẰNG AI</a></h3>
                </div>
                <div class="footer-box3">
                    <h3><a href="/csbm" class="link">CHÍNH SÁCH BẢO MẬT</a></h3>
                    <h3><a href="#">PHẢN HỒI</a></h3>
                </div>
                <div class="footer-box4">
                    <h3><a href="/tuyendung" class="link">TUYỂN DỤNG</a></h3>
                    <h3><a href="#">LIÊN HỆ</a></h3>
                    <a href="#"><img src="/images/logo/tele.png" alt="Telegram"></a>
                    <a href="#"><img src="/images/logo/fb.png" alt="Facebook"></a>
                </div>
            </div>
            <p>© 2025 hocAI, HUST.</p>
        </div>
    </div>
</footer>