<section class="search-bar">
    <div class="search-bar-container">
        <div class="left-search-box">
            <p> Let's learn !!!</p>
        </div>
        <div class="search-box">
            <img src="/images/logo/search.svg">
            <input type="text" placeholder="Tìm kiếm khoá học...">

        </div>
        <div class="right-search-box">
            <img src="/images/logo/chatgpt.png" alt="ChatGPT">
            <img src="/images/logo/kahoot.png" alt="Kahoot">
            <img src="/images/logo/pp.png" alt="Powerpoint">
        </div>
    </div>
</section>