<section class="side-bar">
    <div class="side-bar-container">
        <div class="side-bar-logo">
            <a href="/" class="link"><img src="/images/logo/web.png" alt="logo"></a>
        </div>
        <div class="side-bar-menu">
            <ul>
                <li><a href="/" class="link">TRANG CHỦ</a></li>
                <li><a href="/gioithieu" class="link">GIỚI THIỆU hocAI</a></li>
                <li class="hasdropdown"><a>CHỌN KHOÁ HỌC</a>
                    <ul class="dropdown-menu">
                        <li><a href="/tranghoc?id_course=cbai" class="link">Ứng dụng trí tuệ nhân tạo ( ChatGPT,
                                Deepseek,
                                Grok,...)</a>
                        </li>
                        <li><a href="/tranghoc?id_course=kh" class="link">Kahoot ( Tạo trò chơi giáo dục )</a></li>
                        <li><a href="/tranghoc?id_course=gm" class="link">Gamma AI ( Tạo slide tự động )</a></li>
                    </ul>
                </li>
                <li><a href="/donggop" class="link">ĐÓNG GÓP</a></li>
            </ul>
        </div>
        <div class="side-bar-toggle">
            <svg width="20" height="20" viewBox="0 0 20 20">
                <rect width="20" height="2" y="3" class="line-1"></rect>
                <rect width="20" height="2" y="9" class="line-2"></rect>
                <rect width="20" height="2" y="9" class="line-3"></rect>
                <rect width="20" height="2" y="15" class="line-4"></rect>
            </svg>
        </div>
        <div class="side-bar-login">
            <a href="/login" id="login-info" class="link">Đăng nhập</a>
        </div>
    </div>
</section>