<div class="popup-overlay" id="userPopupOverlay">
    <div class="popup-container" id="userInfoPopup">
        <div class="popup-header">
            <h2>Thông tin tài khoản</h2>
            <button class="popup-close-btn" id="closePopupBtn">&times;</button>
        </div>
        <div class="popup-content">
            <p><strong>Tên người dùng:</strong> <span id="popup-username"></span></p>
            <p><strong>Tài khoản:</strong> <span id="popup-account"></span></p>
            <p><strong>Email:</strong> <span id="popup-email"></span></p>
            <p><strong>Ngày tạo tài khoản:</strong> <span id="popup-logindate"></span></p>
            <hr>
            <h4>Khóa học của tôi:</h4>
            <div class="popup-scrollable-content" id="popup-courses">
            </div>
        </div>
        <div class="popup-edit">
            <button>Sửa</button>
            <button type="button" id="logoutButtonFromPopup" style="background-color: #dc3545; color: white;">Đăng
                xuất</button>
        </div>
    </div>
</div>