<main>
    <section class="policy">
        <div class="main-container">
            <div class="policy-container">
                <div class="policy-container-box">
                    <div class="policy-title">
                        <h1>Chính sách bảo mật</h1>
                    </div>
                    <div class="policy-content">
                        <ol>
                            <li>
                                Chính sách bảo mật này giải thích cách chúng tôi thu thập, sử dụng, chia sẻ dữ
                                liệu cá
                                nhân của bạn khi bạn sử dụng các dịch vụ được cung cấp trên các trang web và ứng
                                dụng của
                                chúng tôi hoặc tương tác với chúng tôi. Dữ liệu cá nhân là bất kỳ thông tin nào về
                                bạn mà
                                bạn có thể được nhận dạng hoặc có thể nhận dạng được. Điều này có thể bao gồm các
                                thông tin
                                như:
                                <ul>
                                    <li>Tên, ngày sinh, địa chỉ email, địa chỉ , số điện thoại, số điện thoại di
                                        động, chi
                                        tiết tài chính, chẳng hạn như thẻ thanh toán mà bạn sử dụng để mua sản phẩm…
                                    </li>
                                    <li>Thông tin về thiết bị của bạn (chẳng hạn như địa chỉ IP, là mã số để xác
                                        định
                                        thiết bị của bạn có thể cung cấp thông tin về quốc gia, khu vực hoặc thành
                                        phố nơi
                                        bạn ở)
                                    </li>
                                    <li>Thông tin liên quan đến cách bạn sử dụng và tương tác với các trang web,
                                        ứng dụng
                                        và dịch vụ của chúng tôi. Đôi khi trang web và ứng dụng của chúng tôi có thể
                                        chứa
                                        các liên kết đến các trang web và dịch vụ không thuộc nhóm dịch vụ của Hoc
                                        AI. Các
                                        trang web và dịch vụ này có chính sách bảo mật của riêng họ. Nếu bạn nhấp
                                        vào liên
                                        kết đến các trang web và ứng dụng ấy bạn nên đọc chính sách bảo mật được
                                        hiển thị
                                        trên trang web của họ.</li>
                                </ul>
                            </li>
                            <li>
                                Chúng tôi là ai và cách liên hệ với chúng tôi :
                                <p>HocAI.com là đơn vị kiểm soát dữ liệu liên quan đến dữ liệu cá nhân của bạn. Điều
                                    này có
                                    nghĩa là chúng tôi chịu trách nhiệm quyết định cách thức và lý do chúng tôi giữ
                                    và sử
                                    dụng dữ liệu cá nhân của bạn. Nếu bạn muốn liên hệ trực tiếp với chúng tôi, bạn
                                    có thể
                                    tìm thấy chi tiết liên hệ của chúng tôi tại đây: https//HocAI.html</p>
                            </li>
                            <li>
                                Các loại dữ liệu cá nhân chúng tôi thu thập về bạn:
                                <p>Chúng tôi thu thập dữ liệu cá nhân của bạn khi bạn truy cập các trang web và ứng
                                    dụng của
                                    chúng tôi, đăng ký sản phẩm hoặc dịch vụ, đóng góp hoặc tương tác với chúng tôi.
                                    Chúng
                                    tôi sẽ chỉ thu thập dữ liệu cá nhân của bạn theo luật hiện hành. Chúng tôi thu
                                    thập dữ
                                    liệu cá nhân của bạn theo nhiều cách khác nhau:</p>
                                <ul>
                                    <li>Trực tiếp từ bạn, khi bạn đăng ký dịch vụ của chúng tôi và khi bạn duyệt
                                        các trang
                                        web của chúng tôi hoặc sử dụng các ứng dụng của chúng tôi
                                    </li>
                                    <li>Dữ liệu cá nhân chúng tôi tạo ra về bạn, ví dụ: dữ liệu cá nhân mà chúng
                                        tôi sử
                                        dụng để xác thực bạn hoặc dữ liệu cá nhân ở dạng địa chỉ IP của bạn hoặc tùy
                                        chọn
                                        của bạn
                                    </li>
                                    <li>Dữ liệu cá nhân mà chúng tôi thu thập từ các bên thứ ba, ví dụ: dữ liệu cá
                                        nhân
                                        giúp chúng tôi chống gian lận hoặc chúng tôi thu thập, với sự cho phép của
                                        bạn, khi
                                        bạn tương tác với các tài khoản mạng xã hội của mình
                                    </li>
                                </ul>


                            </li>
                            <li>
                                Khi bạn đăng ký tài HocAI.com , chúng tôi thu thập:
                                <ul>
                                    <li> Tên của bạn</li>
                                    <li>Địa chỉ email của bạn</li>
                                    <li>Các chi tiết khác như địa chỉ cư trú hoặc địa chỉ thanh toán của bạn khi
                                        bạn đăng
                                        ký thành viên hoặc đăng ký</li>
                                    <li>Một số dữ liệu hạn chế từ hồ sơ mạng xã hội của bạn, nếu bạn đã đăng nhập
                                        vào
                                        HocAI.com bằng cách sử dụng chi tiết mạng xã hội của mình</li>
                                    <li>Ảnh của bạn, nếu bạn thêm một bức ảnh vào trang hồ sơ của mình</li>
                                </ul>
                            </li>
                            <li>
                                Dữ liệu cá nhân chúng tôi tạo ra về bạn
                                <p>Khi bạn đăng ký tài khoản HocAI, chúng tôi chỉ định cho bạn một số ID duy nhất mà
                                    chúng
                                    tôi sử dụng để nhận dạng bạn khi bạn đăng nhập vào các dịch vụ của chúng tôi.
                                    Điều này
                                    sẽ nhận ra bạn nếu bạn đăng nhập bằng cùng một tài khoản trên một thiết bị mới
                                    hoặc
                                    thông qua một ứng dụng khác. Khi bạn sử dụng các trang web hoặc ứng dụng của
                                    chúng tôi,
                                    chúng tôi cũng có thể sử dụng cookie hoặc công nghệ tương tự để thu thập thêm dữ
                                    liệu,
                                    bao gồm:</p>
                                <ul>
                                    <li>Địa chỉ IP của bạn - một mã số để xác định thiết bị của bạn, cùng với quốc
                                        gia,
                                        khu vực hoặc thành phố nơi bạn ở</li>
                                    <li>Thông tin về cách bạn tương tác với các dịch vụ của chúng tôi</li>
                                    <li>Lịch sử duyệt web của bạn về nội dung bạn đã truy cập trên các trang web
                                        của chúng
                                        tôi, bao gồm cả cách bạn được giới thiệu đến các trang web của chúng tôi qua
                                        các
                                        trang web khác</li>
                                </ul>
                            </li>
                            <li>
                                Chúng tôi sẽ không thu thập các danh mục dữ liệu đặc biệt từ bạn - chẳng hạn như
                                dữ liệu
                                cá nhân liên quan đến chủng tộc, quan điểm chính trị, tôn giáo, sức khỏe hoặc khuynh
                                hướng
                                tình dục của bạn…
                                Sử dụng mạng xã hội của bạn để đăng nhập vào tài khoản của bạn: Khi bạn đăng nhập
                                vào các
                                trang web hoặc ứng dụng của chúng tôi bằng Google của mình, bạn cho phép Google chia
                                sẻ dữ
                                liệu cá nhân mà bạn đã công khai trong hồ sơ trên Google của mình. Thông tin này chỉ
                                bao gồm
                                họ và tên, địa chỉ email của bạn và liệu địa chỉ email của bạn đã được xác thực hay
                                chưa, độ
                                tuổi của bạn, liên kết đến hồ sơ trên Google của bạn và nếu có, ảnh hồ sơ của bạn.
                                Nếu bạn xóa tài khoản khỏi cài đặt Google của bạn, chúng tôi sẽ không có quyền truy
                                cập vào
                                dữ liệu này nữa.
                            </li>
                            <li>
                                Khi bạn bình luận công khai &nbsp;trên một trong các trang web của chúng tôi, dữ liệu
                                cá nhân
                                bạn đăng, bao gồm tên người dùng và thông tin khác về bản thân, sẽ có thể truy cập
                                công
                                khai. Dữ liệu cá nhân này có thể được xem trực tuyến và được thu thập bởi những
                                người khác.
                                Chúng tôi không chịu trách nhiệm về cách những người khác sử dụng dữ liệu cá nhân
                                này. Khi
                                tham gia vào một cuộc thảo luận, chúng tôi đặc biệt khuyên bạn nên tránh chia sẻ bất
                                kỳ chi
                                tiết cá nhân nào, bao gồm thông tin có thể được sử dụng để nhận dạng trực tiếp bạn
                                như tên,
                                tuổi, địa chỉ... Chúng tôi không chịu trách nhiệm về quyền riêng tư của bất kỳ thông
                                tin
                                nhận dạng nào mà bạn đăng trong cộng đồng trực tuyến của chúng tôi hoặc các trang
                                công khai
                                khác.
                            </li>
                            <li>Cách chúng tôi sử dụng dữ liệu cá nhân của bạn
                                Chúng tôi chỉ sử dụng dữ liệu cá nhân được thu thập thông qua các trang web và ứng
                                dụng của
                                mình khi chúng tôi có lý do chính đáng và cơ sở pháp lý để làm như vậy. Chúng tôi
                                xác định
                                các cơ sở pháp lý dựa trên các mục đích mà chúng tôi đã thu thập dữ liệu cá nhân của
                                bạn.
                            </li>
                            <li>
                                Liên hệ với chúng tôi để biết thông tin về cách chúng tôi sử dụng dữ liệu cá nhân
                                của bạn
                                Nếu bạn có bất kỳ câu hỏi nào về cách chúng tôi sử dụng dữ liệu cá nhân của bạn hoặc
                                nếu bạn
                                lo lắng về cách dữ liệu cá nhân của bạn được sử dụng, vui lòng liên hệ với chúng tôi
                                tại
                                <strong>HocAI , Đại học&nbsp;Bách khoa&nbsp;Hà Nội. Địa chỉ: Số 1 Đại Cồ Việt, Hai Bà
                                    Trưng,&nbsp;Hà
                                    Nội</strong>&nbsp;&nbsp;.
                            </li>
                            <li>
                                Các thay đổi đối với chính sách bảo mật này
                                Nếu chúng tôi quyết định thay đổi chính sách bảo mật của mình, chúng tôi sẽ đăng các
                                thay
                                đổi ở đây. Nếu những thay đổi là quan trọng, chúng tôi cũng có thể chọn gửi email
                                cho tất cả
                                người dùng đã đăng ký của chúng tôi với các chi tiết mới
                            </li>
                        </ol>
                        <p><i>Cập nhật lần cuối: Ngày 01 tháng 01 năm 2025</i></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>