<main>
    <section class="contribute">
        <div class="main-container">
            <div class="contribute-container">
                <div class="contribute-title">
                    <h1>
                        Hoc AI xin chân thành cảm ơn
                    </h1>
                    <h1>
                        Sự tin tưởng và lựa chọn của quý người học !
                    </h1>
                </div>
                <div class="contribute-content-title">
                    <h2>
                        Những đóng góp tích cực từ người học :

                    </h2>
                </div>
                <div class="contribute-content-image">
                    <div class="image1">
                        <img src="/images/donggop/fb1.jpg">
                    </div>
                    <div class="image2">
                        <img src="/images/donggop/fb2.jpg">

                    </div>
                    <div class="image3">
                        <img src="/images/donggop/fb3.jpg">
                    </div>
                </div>
                <div class="contribute-footer">
                    <h2>Chúng tôi rất mong nhận được thêm những đóng góp hữu ích từ quý người học ! </h2>
                    <div class="contribute-footer-content">
                        <textarea
                            placeholder="Gửi đóng góp của bạn qua mail hocAI@gmail.com hoặc nhập tại đây..."></textarea>
                        <button>Gửi</button>

                    </div>
                </div>
            </div>

        </div>


        </div>

    </section>
</main>