<div class="introduce-image1">
    <img src="/images/td_gt/hinh1-gioithieu.png" alt="image1">
</div>
<section class="introduce-aboutHocAI scroll">
    <div class="main-container ">
        <div class="introduce-aboutHocAI-container">
            <div class="introduce-aboutHocAI-image2">
                <img src="/images/td_gt/hinh2-gioithieu.png" alt="image2">
            </div>
            <div class="introduce-aboutHocAI-content">
                <p>Bắt đầu từ niềm đam mê công nghệ, chúng tôi – một nhóm sinh viên trẻ – đang nỗ lực xây dựng
                    giải
                    pháp giúp giáo viên và mọi ngườicó thể sử dụng AI một cách dễ dàng, hiệu quả và thân thiện
                    hơn
                    bao giờ hết.</p>
                <img src="/images/logo/web.png" alt="hocAI">
            </div>
        </div>


    </div>
</section>
<section class="target scroll">
    <div class="main-container">
        <div class="target-container">
            <h1>Chúng tôi mang sứ mệnh thực hiện các mục tiêu </h1>
            <div class="target-content">
                <div class="target-box">
                    <p>Hướng dẫn sử dụng các công cụ AI phổ biến như ChatGPT, Kahoot và Gamma AI một cách đơn
                        giản,
                        dễ
                        hiểu – không cần kiến thức kỹ thuật phức tạp</p>
                </div>
                <div class="target-box">
                    <p>
                        Hỗ trợ giáo viên và người học sáng tạo nội dung giảng dạy, thuyết trình và tương tác
                        hiệu
                        quả
                        hơn bằng sức mạnh của AI.
                    </p>
                </div>
                <div class="target-box">
                    <p>Lan tỏa tinh thần học tập chủ động, ứng dụng công nghệ mới vào giáo dục một cách gần gũi
                        và
                        thực
                        tiễn</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="object scroll">
    <div class="main-container">
        <div class="object-container">
            <div class="object-arrow">
                <div class="arrow">
                    <img src="/images/td_gt/muiten_gioithieu.png" alt="arrow">
                </div>
            </div>
            <div class="object-content">
                <div class="item1">
                    <img src="/images/td_gt/giaovien-gioithieu.png" alt="Giáo viên">


                </div>
                <div class="text">
                    <p>Giáo viên, người thiết kế bài giảng , học liệu </p>
                </div>

                <div class="item2">
                    <img src="/images/td_gt/hocsinh-gioithieu.png" alt="Học sinh">
                </div>
                <div class="text">
                    <p>Học sinh, sinh viên</p>
                </div>
                <div class="item3">
                    <img src="/images/td_gt/nguoidilam-gioithieu.png" alt="Người đi làm">
                </div>
                <div class="text">
                    <p>Người đi làm, những người yêu thích công nghệ</p>
                </div>
            </div>
        </div>

    </div>
</section>
<div class="introduce-thankyou">
    <h1>Cảm ơn người học đã tin tưởng và lựa chọn !</h1>
</div>
</main>