<main>
    <section class="intro-course">
        <div class="main-container">
            <div class="intro-course-container">
                <h1>GIỚI THIỆU KHOÁ HỌC</h1>
                <img src="{{course_url}}" alt="Ảnh khoá học">
                <h2>{{name_course}}</h2>
                <div class="intro-course-content">
                    {{{course_content}}}
                </div>
                <button id="registerCourseBtn" class="btn primary">Đăng ký khoá học</button>
            </div>
        </div>
    </section>
</main>
<main>