.camon {
    background-color: #007ea7;
}

.camon h1 {
    color: #ffffff;
    text-align: center;

}

.nhungdonggop {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1) inset;
    margin-top: 100px;
}

.nhungdonggop h1 {
    text-align-last: center;

}

.anhfb {
    padding-left: 200px;
    margin-top: 100px;
    display: flex;
    /* Xếp các ảnh theo chiều ngang */
    justify-content: space-between;
    /* Khoảng cách đều giữa các ảnh */
    gap: 5px;
    /* Khoảng cách giữa các ảnh */
}

.anhfb img {
    width: 70%;
    /* Kích thước mỗi ảnh chiếm 30% chiều rộng của vùng chứa */
    height: auto;
    /* Giữ tỷ lệ chiều cao và chiều rộng của ảnh */

}

.anhfb1 {
    transform: rotate(-45deg);
    /* Nghiêng ảnh 1 sang trái 45 độ */

}

.anhfb3 {

    transform: rotate(45deg);
    margin-top: 130px;
}

.mongnhandonggop {
    margin-top: 200px;
    text-align: center;

}

.guidonggop {box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1) inset;
    margin-top: 200px ; 
    display: flex;
    /* Xếp các ảnh theo chiều ngang */
    justify-content: space-between;}
    /* Khoangcach đều */ 
      .send-button {
        background-color: #007ea7;/* Màu nền nút */
    color: white;
    /* Màu chữ */
    padding: 10px 20px;
    /* Khoảng cách bên trong nút */
    border: none;
    /* Loại bỏ viền mặc định */
    border-radius: 50px ; 
    /* Bo tròn góc nút */
    font-size: 30px ; 
    /* Kích thước chữ */
    cursor: pointer;
    /* Con trỏ chuột khi hover */
    transition: background-color 0.3s ease;
    /* Hiệu ứng chuyển màu nền khi hover */
}

.send-button:hover {
    background-color: #0056b3;
    /* Màu nền khi di chuột qua */
}
.oguidonggop 
{ 
    font-size : 30px;
    padding-left: 505px ; 
}
.main-container { 
    margin-top : 300px; 
}