.contribute-title  {
    background-color: #007ea7;
}

.contribute-title h1 {
    color: #ffffff;
    text-align: center;

}

.contribute-content-title {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1) inset;
    margin-top: 100px;
}

.contribute-content-title  h1 {
    text-align: center;

}

.contribute-content-image {
    display: flex;               /* sắp xếp ngang */
    justify-content: center;     /* căn giữa */
   
    gap: 60px ; 
                /* khoảng cách giữa các ảnh */

}

/* Cấu hình khung chứa từng ảnh */
.image1, .image2, .image3 {
    width: 30%;              /* Mỗi ảnh chiếm 30% chiều ngang */
    max-width: 300px ;                         
}

/* Cấu hình riêng cho ảnh bên trong */
.image1 img {
    width: 100%;             /* Ảnh vừa với khung chứa */
    transform: rotate(-45deg); /* Nghiêng trái */
    margin-top : 100px ;     
     margin-top : 200px ;  
}

.image2 img {
    width: 100%;
    transform: rotate(0deg);    /* Ảnh giữa không xoay */
    margin-top : 100px ;  
}

.image3 img {
    width: 100%;
    transform: rotate(45deg);
       /* Nghiêng phải */
       margin-top : 200px ;  
    
}


.contribute-footer  {
    margin-top: 200px;
    text-align: center;

}

.contribute-footer-content  {box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1) inset;
    margin-top: 200px ; 
    display: flex;
    border-radius: 50px ; 
    
}
      .send-button {
        background-color: #007ea7;/* Màu nền nút */
    color: white;
    /* Màu chữ */
    padding: 10px 20px;
    /* Khoảng cách bên trong nút */
    border: none;
    /* Loại bỏ viền mặc định */
    border-radius: 50px ; 
    /* Bo tròn góc nút */
    font-size: 30px ; 
    /* Kích thước chữ */
    cursor: pointer;
    /* Con trỏ chuột khi hover */
    transition: background-color 0.3s ease;

    
}
.contribute-footer-content-send-button {
    padding-left : 785px ; 
}

.send-button:hover {
    background-color: #0056b3;
    /* Màu nền khi di chuột qua */
}
.contribute-footer-content-box 
{ 
    font-size : 30px;
    padding-left: 250px ; 
}
.footer-container {
    margin-top : 200px ; 
}
