

.recruiment-image img {
    width: 100%;
    height: auto;

}

.recruiment-notification  {
    margin-top: 45px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1) inset;
    overflow: visible; /* Đảm bảo không bị ẩn */ 
}
.recruiment-notification  h1 {
    text-align: center;
    color : #007ea7; 
    font-size : 50px ;
}
.hightlight {
    color : #007ea7 ; 
}

.recruiment-content  {
    padding-left: 220px ;
}
.recruiment-content>ul > li {
    list-style-type: disc !important;
    text-align: left;
    padding-bottom: 10px;
}
